.floating-box {
	display: inline-block;
	vertical-align: bottom;
	color: #ffffff;
	width: 24px;
	height: 24px;
	margin: 1px;
	background-color: #ffffff;
	text-align: top;
	border-style: solid;
	border-width: 1px;
	flood-color: #ffffff;
}
.container {
	width: 75%;
	height: 75%;
	margin-top: 40px;
	text-align: bottom;
	border-style: solid;
	border-width: 1px;
	font-size: 0;
}
.floating-color{
	display: inline-block;
	vertical-align: bottom;
	color: #000000;
	width: 24px;
	height: 24px;
	margin: 1px;
	background-color: #000000;
	text-align: top;
	border-style: solid;
	border-width: 1px;
	flood-color: #000000;
}
html, body{
	height: 600px;
}